@font-face {
  font-family: norse-bold;
  src: 
    url(fonts/transfonter.org-20251027-063140/Norse-Bold.woff2),
    url(fonts/transfonter.org-20251027-063140/Norse-Bold.woff);
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
}

.container {
  display: flex;
  height: 100vh;
}

.left-side {
  width: 500px;
  background: url(images/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.logo-title {
  background-color: rgba(0, 0, 0, 0.4);
  font-family: "norse-bold", sans-serif;
  color: white;
  font-size: 5rem;
  height: 135px;
  margin-top: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.odin-logo {
  width: 5rem;
}

.odin-title {
  padding-top: 20px;
}

.credit {
  color: white;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.credit a {
  color: white;
}

.right-side {
  flex-grow: 1;
  background-color: red;
}
